<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.jdt.junit.testRunListeners">
      <testRunListener class="com.litrik.eclipse.xps.junit.XPSTestRunListener"/>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="XPS LEDs"
            class="com.litrik.eclipse.xps.preferences.XPSPreferencePage"
            id="com.litrik.eclipse.xps.preferencePage">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.litrik.eclipse.xps.preferences.XPSPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts file="doc/contexts.xml"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="true"/>
   </extension>
   
</plugin>
